doctype html
html
	head
		title Code Q&A
		link(rel='stylesheet', type='text/css', href=''+root+'css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href=''+root+'css/style.css')
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			a.navbar-brand(href='#') Code Q&A